<div class="container my-3">
  <div>
    <h1 class="text-center">AppTunix | Angular Task</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm text-center">
      <div class="box">
        <input type="file" hidden #img0 (change)="onFileChanged($event, 0)">
        <img class="uploadimage-bottom" (click)="img0.click()" [src]="urls[0]" style=" width: 100%;
        height: 100%;" />
      </div>
      <button class="btn-sm btn-danger" (click)="onRemoveImg(0)">x</button>
    </div>
    <div class="col-sm text-center">
      <div class="box">
        <input type="file" hidden #img1 (change)="onFileChanged($event, 1)">
        <img class="uploadimage-bottom" (click)="img1.click()" [src]="urls[1]" style=" width: 100%;
        height: 100%;" />
      </div>
      <button class="btn-sm btn-danger" (click)="onRemoveImg(1)">x</button>
    </div>
    <div class="col-sm text-center">
      <div class="box">
        <input type="file" hidden #img2 (change)="onFileChanged($event, 2)">
        <img class="uploadimage-bottom" (click)="img2.click()" [src]="urls[2]" style=" width: 100%;
        height: 100%;" />
      </div>
      <button class="btn-sm btn-danger" (click)="onRemoveImg(2)">x</button>
    </div>
    <div class="col-sm text-center">
      <div class="box">
        <input type="file" hidden #img3 (change)="onFileChanged($event, 3)">
        <img class="uploadimage-bottom" (click)="img3.click()" [src]="urls[3]" style=" width: 100%;
        height: 100%;" />
      </div>
      <button class="btn-sm btn-danger" (click)="onRemoveImg(3)">x</button>
    </div>
    <div class="col-sm text-center">
      <div class="box">
        <input type="file" hidden #img4 (change)="onFileChanged($event, 4)">
        <img class="uploadimage-bottom" (click)="img4.click()" [src]="urls[4]" style=" width: 100%;
        height: 100%;" />
      </div>
      <button class="btn-sm btn-danger" (click)="onRemoveImg(4)">x</button>
    </div>
    <div class="col-sm text-center">
      <div class="box">
        <input type="file" hidden #img5 (change)="onFileChanged($event, 5)">
        <img class="uploadimage-bottom" (click)="img5.click()" [src]="urls[5]" style=" width: 100%;
        height: 100%;" />
      </div>
      <button class="btn-sm btn-danger" (click)="onRemoveImg(5)">x</button>
    </div>
  </div>
</div>